body{
  background: #000000;
  font-family: 'Montserrat', sans-serif;
}

.menucentro{
  margin-left: 50px;
  text-align: center;

}
.navegacion{
  font-size: 18px;
}
.inicio{
  background: url('../image/fondo.jpg');
  height: 500px;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.informacion {

    position: relative;
    left: 5%;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #0F1937;

}
#estiloText{
  text-align: left;
  font-weight: bolder;
}
.alineacion{
  text-align: right;
}
