<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
	<title>Easy Bussines</title>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/bootstrap.css">
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>


  <script src="../../js/interactions.js"></script>
  <script src="../../js/jquery.js"></script>
  <script src="../../js/bootstrap.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
</head>
<body >
  <header>
    <nav class="navbar navbar-default">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- <div class="navbar-header"> -->
        <div class="col-lg-3">
          <h1 class="logo left"><i class="fa fa-university"></i> Easy Business</h1>
        </div>
        <div class="col-lg-9">
          <div class="col-lg-1"></div>
          <ul class="nav navbar-nav ">
            <li><a href="#" class="menucentro navegacion">Servicios</a></li>
            <li><a href="#" class="menucentro navegacion">¿Quienes Somos?</a></li>
            <li><a href="#" class="menucentro navegacion">Aplicación</a></li>
          </ul>
          <!-- inicio de sesión-->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" >Iniciar Sesión</a></li>
            <li><a href="#" >Registrarse</a></li>
          </ul>
        </div>
      <!-- </div> -->

    </div><!-- /.container-fluid -->
  </nav>

  </header>


  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-12 inicio">
        <div class="col-lg-5 informacion">
          <h1 class="estiloTexto">Facilitando las actividades de tu negocio desde cualquier lugar</h1>
          <a class="btn btn-lg btn-success alineacion" href="#"> Obten la aplicación <i class="fa fa-download"></i></a>
        </div>


      </div>
      <div class="col-lg-12">

      </div>
      <div class="col-lg-12">

      </div>
      <div class="col-lg-12">

      </div>
      <div class="col-lg-12">

      </div>
      <div class="col-lg-12">

      </div>
    </div>
  </div>
</body>
</html>
